@model IEnumerable<Models.Core.LightAvailability>
@{


    ViewBag.Title = "CurrentActivenodes";
}

<h2>Listado de bombillos activos</h2>

<ul class="list-unstyled">
    @foreach (var node in Model)
    {
        <li>
            <div class="well">
                <h3>@node.Name</h3>
                <a href="#" class="btn btn-primary">
                    <i class="fa fa-lightbulb-o fa-3x" data-status="@node.Status"></i>
                </a>
                @node.IpAddress:@node.Port
                <input class="light-slider" data-status-value="@node.Status" />

            </div>
        </li>
    }
</ul>

@section styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.4/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.4/css/ion.rangeSlider.skinModern.min.css" rel="stylesheet" />
}


@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.1.4/js/ion.rangeSlider.min.js"></script>


    <script>

        $(document)
            .ready(function() {
                $(".light-slider")
                    .each(function(index, item) {
                        var statusValue = $(item).data('status-value');
                        var value = 0;
                        if (typeof statusValue == 'string') {                            
                            value = parseFloat($(item).data('status-value').replace(',', '.'));
                            value = parseInt(value * 10,10);
                        } else {
                            value = $(item).data('status-value');
                            value = parseInt(value, 10) * 10;
                        }
                        
                        console.log(value);
                        $(item)
                            .ionRangeSlider({
                                min: 0,
                                max: 10,
                                from: parseInt(value, 10)
                            });

                    });

                $("[data-status]")
                    .each(function(index, item) {

                        var statusValue = $(item).data('status');

                        var color = 0;


                        if (typeof statusValue == 'string') {
                            var status = parseFloat($(item).data('status').replace(',', '.'));
                            color = 255 * (status);
                        }

                        $(item)
                            .css("color",
                                "rgb(" +
                                parseInt(color, 10) +
                                ", " +
                                parseInt(color, 10) +
                                "," +
                                parseInt(color, 10) +
                                ")");
                    });
            });

    </script>
}


